* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 150px) ;
    justify-content: center;
}

.button {
    width: 150px;
    height: 150px;
}

.question {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}