* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background-color: #171717;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: white;
}

.slider, .change {
    margin-bottom: 1rem;
    color: white;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 150px) ;
    justify-content: center;
    gap: 15px;
}

.button {
    width: 150px;
    height: 150px;
    color: white;
    background-color: #171717;
    box-shadow: 0 0 0.4rem #ff3939;
    border-radius: 8px;
    border: 1px solid #ff3939;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:hover,
.button:focus {
    background-color: #333;
}

.instructions-item {
    background-color: lightgray;
    max-width: 650px;
    margin: 0 auto;
    padding: 0.5rem;
}

.item-one,
.item-two {
    margin-bottom: 1em;
    border-radius: 8px;
}

.question {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.question-number {
    font-weight: 700;
    font-size: 1rem;
    margin-right: 1em;
}

.question::after {
    content: ">";
    position: absolute;
    right: 1rem;
    border-radius: none;
}

.question.active::after {
    transform: rotate(90deg);
}

.answer {
    display: none;
    border-top: 1px solid lightslategray;
    padding: 0.5rem 0 0.5rem 3rem;
    text-align: left;
}

.question.active + .answer {
    display: block;
}

li {
    list-style-type: none;
}

.button.active {
    box-shadow: 0 0 2rem #ff3939;
    scale: 1.2;
}