* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 150px) ;
    justify-content: center;
    gap: 10px;
}

.button {
    width: 150px;
    height: 150px;
}

.instructions-item {
    background-color: lightblue;
    max-width: 650px;
    margin: 0 auto;
}

.item-one,
.item-two {
    margin-bottom: 1em;
    border-radius: 8px;
}

.question {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.question-number {
    font-weight: 700;
    font-size: 1rem;
    margin-right: 1em;
}

.question::after {
    content: ">";
    position: absolute;
    right: 1rem;
    border-radius: none;
}

.question.active::after {
    transform: rotate(90deg);
}

.answer {
    display: none;
    border-top: 2px solid black;
}

.question.active + .answer {
    display: block;
}

li {
    list-style-type: none;
}